@page "/transit"
@inject HttpClient crud
@inject NavigationManager nav
@inject IJSRuntime js

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Transit</li>
    </ol>
</nav>

<h3>Book Transit</h3>

<hr />

<!-- Transit -->
<div class="container">
    <!-- Outgoing books -->
    <h4>Book Rental</h4>
    <div class="row">

        <!-- Members -->
        <div class="col-6">
            <h5>Members</h5>
            <hr />

            <div class="form-group">
                <select class="form-control" @bind="selectedMember">

                    <option selected class="text-muted" value="">Select a member</option>

                    @foreach (Member member in members)
                    {
                        <option value="@member.MemberId">@member.Name</option>
                    }

                </select>
            </div>

        </div>

        <!-- Books -->
        <div class="col-6">
            <h5>Books</h5>
            <hr />

            <div class="form-group">
                <select class="form-control" @bind="selectedBook">

                    <option selected class="text-muted">Select a book</option>

                    @foreach (Book book in books)
                    {
                        if (book.MemberId == 1)
                        {
                            <option value="@book.BookId">@book.Title</option>
                        }
                    }

                </select>
            </div>

        </div>

        <!-- Context Button -->
        <div class="container-fluid">
            <div class="float-right pb-2">
                <a class="btn btn-outline-success btn-sm" @onclick="@( () => Rent(selectedMember, selectedBook) )">
                    <span class="oi oi-loop" aria-hidden="true"></span> Rent book
                </a>
            </div>
        </div>
    </div>

    <!-- Incoming books -->
    <h4>Book Devolution</h4>
    <div class="row">
        <div class="col-12">

            @foreach (Book book in books)
            {
                if (book.MemberId != 1)
                {
                    foreach (Member member in members)
                    {
                        if (member.MemberId == book.MemberId)
                        {
                            <div class="form-inline">
                                <p>
                                    <b>@book.Title</b>, currently under <b>@member.Name</b>'s custody.

                                    <a class="oi oi-check text-success" aria-hidden="true"
                                       @onclick="@( () => Devolution(book.BookId) )" title="Confirm devolution"/>
                                </p>
                            </div>

                            <br />
                        }
                    }
                }
            }

        </div>
    </div>
</div>

@code {
    Book book = new Book();
    List<Book> books = new List<Book>();
    Member member = new Member();
    List<Member> members = new List<Member>();

    int selectedMember;
    int selectedBook;

    // This will get members and book data from DB
    protected override async Task OnInitializedAsync()
    {
        members = await crud.GetFromJsonAsync<List<Member>>("api/Members");
        books = await crud.GetFromJsonAsync<List<Book>>("api/Books");
    }

    // These will make the connections between book and member
    protected async Task Rent(int memberId, int bookId)
    {
        member = await crud.GetFromJsonAsync<Member>($"api/Members/{memberId}");
        book = await crud.GetFromJsonAsync<Book>($"api/Books/{bookId}");

        book.MemberId = member.MemberId;

        await crud.PutAsJsonAsync<Book>($"api/Books/{book.BookId}", book);

        await js.InvokeVoidAsync("alert", $"Book {book.Title} is now under {member.Name}'s custody!");
        await OnInitializedAsync();
    }

    protected async Task Devolution(int bookId)
    {
        book = await crud.GetFromJsonAsync<Book>($"api/Books/{bookId}");

        book.MemberId = 1;

        await crud.PutAsJsonAsync<Book>($"api/Books/{book.BookId}", book);

        await js.InvokeVoidAsync("alert", $"Book {book.Title} is now under library's custody!");
        await OnInitializedAsync();
    }
}
