@page "/authors/managebooks/{AuthorId:int}"
@inject HttpClient crud
@inject NavigationManager nav
@inject IJSRuntime js

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><span class="oi oi-question-mark text-info" aria-hidden="true" title="Comments about this page" @onclick="@Comments" /></li>
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="authors">Authors</a></li>
        <li class="breadcrumb-item active" aria-current="page">Manage Books</li>
    </ol>
</nav>

<h3>Manage @author.FirstName @author.LastName's Books</h3>

<hr />

<!-- Linked List -->
<h4>Linked books</h4>
<div class="container-fluid">
    @if (books == null)
    {
        <text>Loading...</text>
    }
    else if (books.Count == 0)
    {
        <text>No books to show...</text>
    }
    else
    {
        <table class="table table-striped table-sm">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 5%;" scope="col">Reg.</th>
                    <th style="width: 35%;" scope="col">Title</th>
                    <th style="width: 50%;" scope="col">Author(s)</th>
                    <th style="width: 10%;" scope="col">Remove?</th>
                </tr>
            </thead>
            <tbody>

                <!-- Checks all author-book relations... -->
                @foreach (AuthorBook authorbook in authorbooks)
                {
                    <!-- ... to pick those that are the author's... -->
                    if (authorbook.AuthorId == author.AuthorId)
                    {
                        <!-- ... then go check all books... -->
                        foreach (Book book in books)
                        {
                            <!-- ... if they are the books from the relation... -->
                            if (book.BookId == authorbook.BookId)
                            {
                                <!-- ... and print a new line in table -->
                                <tr>
                                    <th scope="row">@book.BookId</th>
                                    <td>@book.Title</td>
                                    <td>

                                        <!-- While printing the authors' names, will check again the relations... -->
                                        @foreach (AuthorBook authorbook2 in authorbooks)
                                        {
                                            <!-- ... but now it will pick the authors' based on the book... -->
                                            if (authorbook2.BookId == book.BookId)
                                            {
                                                <!-- ... then check all authors... -->
                                                foreach (Author author2 in authors)
                                                {
                                                    <!-- ... to see if their name will be added or not... -->
                                                    if (author2.AuthorId == authorbook2.AuthorId)
                                                    {
                                                        <!-- ... muted if it's the page's and normal if not -->
                                                        if (@author.AuthorId == author2.AuthorId)
                                                        {
                                                            <spam class="text-muted">| @author2.FirstName @author2.LastName |</spam>
                                                        }
                                                        else
                                                        {
                                                            <spam>| @author2.FirstName @author2.LastName |</spam>
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                    </td>
                                    <td>
                                        <a class="oi oi-action-undo text-danger" aria-hidden="true"
                                           @onclick="@( () => RemoveBook(book.BookId, author.AuthorId) )" title="Remove from author"/>
                                    </td>
                                </tr>
                            }
                        }
                    }
                }

            </tbody>
        </table>
    }
</div>

<!-- Unlinked List -->
<h4>Unlinked books</h4>
<div class="container-fluid">
    @if (books == null)
    {
        <text>Loading...</text>
    }
    else if (books.Count == 0)
    {
        <text>No books to show...</text>
    }
    else
    {
        <table class="table table-striped table-sm">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 5%;" scope="col">Reg.</th>
                    <th style="width: 35%;" scope="col">Title</th>
                    <th style="width: 50%;" scope="col">Author(s)</th>
                    <th style="width: 10%;" scope="col">Add?</th>
                </tr>
            </thead>
            <tbody>

                <!-- Checks all the books... -->
                @foreach (Book book in books)
                {
                    var show = true;

                    <!-- ... to see if it is the author's... -->
                    foreach (AuthorBook authorbook in authorbooks)
                    {
                        <!-- ... and if it is, set the "show" variable to, well, "not show"... -->
                        if (authorbook.BookId == book.BookId && authorbook.AuthorId == author.AuthorId)
                        {
                            show = false;
                        }
                    }

                    <!-- ... and, incase it isn't the authors', print it -->
                    if (show)
                    {
                        <tr>
                            <th scope="row">@book.BookId</th>
                            <td>@book.Title</td>
                            <td>

                                <!-- With all the other authors -->
                                @foreach (AuthorBook authorbook2 in authorbooks)
                                {
                                    if (authorbook2.BookId == book.BookId)
                                    {
                                        foreach (Author author2 in authors)
                                        {
                                            if (author2.AuthorId == authorbook2.AuthorId)
                                            {
                                                <spam>| @author2.FirstName @author2.LastName |</spam>
                                            }
                                        }
                                    }
                                }

                            </td>
                            <td>
                                <a class="oi oi-action-redo text-success" aria-hidden="true"
                                   @onclick="@( () => AddBook(book.BookId, author.AuthorId) )" title="Add to author" />
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    }
</div>

@code {
    // This is a parameter for the URL
    [Parameter] public int AuthorId { get; set; }

    Author author = new Author();
    List<Author> authors = new List<Author>();
    Book book = new Book();
    List<Book> books = new List<Book>();
    AuthorBook authorbook = new AuthorBook();
    List<AuthorBook> authorbooks = new List<AuthorBook>();

    // This will get the author data accordingly to URL, all books, all (other) authors, and their relations
    protected override async Task OnInitializedAsync()
    {
        author = await crud.GetFromJsonAsync<Author>($"api/Authors/{AuthorId}");
        books = await crud.GetFromJsonAsync<List<Book>>("api/Books");
        authors = await crud.GetFromJsonAsync<List<Author>>("api/Authors");
        authorbooks = await crud.GetFromJsonAsync<List<AuthorBook>>("api/AuthorBooks");
    }

    // This will update the relations between the author and books
    async Task AddBook(int BookId, int AuthorId)
    {
        authorbook.AuthorId = AuthorId;
        authorbook.BookId = BookId;

        await crud.PostAsJsonAsync<AuthorBook>("api/AuthorBooks", authorbook);
        await OnInitializedAsync();
    }

    async Task RemoveBook(int BookId, int AuthorId)
    {
        Console.WriteLine("A");
        foreach (AuthorBook authorbook in authorbooks)
        {
            Console.WriteLine("B");
            if (authorbook.AuthorId == AuthorId && authorbook.BookId == BookId)
            {
                Console.WriteLine("C");
                await crud.DeleteAsync($"api/AuthorBooks/{authorbook.Id}");
                await OnInitializedAsync();
            }
        }
    }

    // Comments
    public async Task Comments()
    {
        string comments =
            "This page is for managing the book list for one defined author (set by URL). \n\n" +
            "From a CRUD perspective, this is the full CRUD. \n" +
            "By far, the page I liked most doing and checking the final product. It makes full use of the CRUD functions... kind of. It simulates the R part with a C and a D, but that's how it worked. The updates are in real time and there is no confirmation button.";

        await js.InvokeVoidAsync("alert", $"{comments}");
    }
}
